
.App {
  text-align: center;
}

.div-image {
  overflow: hidden;
  border-radius: 7px;
}

.div-image img {
  transition: 1s;
}

.div-image img:hover {
  transform: scale(1.2);
}


.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
